body {
    background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1920");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    align-item: center;
}

h1 {
    color: rgb(20, 78, 12);
    background: flex;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

input {
    width: 250px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button:hover {
    background-color: #75ade9;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

#result {
    margin-top: 20px;
    padding: 15px 25px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: left;
    width: 300px;
}